@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-5 {
  transition: all 0.5s;
}
.change-border:hover {
  /* border-width: 2.25px; */
  width: 11.2rem;
}
.active {
  background: white;
  /* font-weight: 500; */
  color: black;
}
.orange-col {
  color: rgb(249 115 22, 1);
}
.no-sidebar::-webkit-scrollbar {
  display: none;
}
.rotate-custom {
  --tw-rotate: 270deg;
  transform: rotate(var(--tw-rotate));
}
.no-border-no-outline {
  border: none !important;
  outline: none !important;
}
.no-border-no-outline:focus {
  border-color: none !important;
}
.fade-out {
  opacity: 1;
  transition: all 0.5s;
}
/* .fade-out */
@media screen and (max-width: 768px) {
  .fixed-md {
    position: fixed !important;
  }
}
.test-input:focus {
  outline: none !important;
  border: none !important;
}
