@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-5 {
  transition: all 0.5s;
}
.change-border:hover {
  /* border-width: 2.25px; */
  width: 11.2rem;
}
.active {
  background: white;
  /* font-weight: 500; */
  color: black;
}
.orange-col {
  color: rgb(249 115 22, 1);
}
.no-sidebar::-webkit-scrollbar {
  display: none;
}
